{% extends "layout.html" %}

{% block content %}

{{"ようこそ、" + request.form["userid"] + "さん"}}

<h3>TOP画面</h3>

<div class="container login-container">
      <div class="row">
            <div class="col-md-6 login-form-1">
                  <form action="/">
                        <div class="login-form-1">
                              <div class="form-group">
                                    <input type="submit" class="btnSubmit" value="ログアウト" />
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>


{% endblock %}